//
// Variables
//

@import "base/variables";

//
// Mixins
//

@import "mixins/clearfix";
@import "mixins/fontsize";

// 
// Base styles
//

@import "base/normalize";

//
// Site Styles
//

body {
	background: $backgroundColor;
	text-align: center;
}

.container {
	max-width: 1200px;
	padding: 0 20px;
	margin: 0 auto;
}

.global-header {
	background: #BA6E6E;
	overflow: hidden;
	margin-bottom: 20px;
	padding: 10vh 0;
	transition: all 0.5s;

	@media only screen and (min-width: 768px) {
		margin-bottom: 40px;
		padding: 20vh 0;
	}

	&.slim {
		padding: 5vh 0;
	}

}

h1 {
	color: $backgroundColor;
	@include font-size(30);
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	font-weight: 800;
	margin-bottom: 0;
	margin-top: 0;

	@media only screen and (min-width: 768px) and (min-height: 480px) {
		@include font-size(40);
	}
}

.subtitle {
	color: $backgroundColor;
	@include font-size(18);
	text-transform: capitalize;
	text-align: center;
	font-family: 'Lato', sans-serif;
	margin-bottom: 0;

	@media only screen and (min-width: 768px) and (min-height: 480px) {
		@include font-size(20);
	}
}

p.query {
	line-height: 30px;
	@include font-size(18);

	span {
	    display: inline-block;
	}

	@media only screen and (min-width: 768px) {
		@include font-size(22);
	}
}

.small {
	@include font-size(14);
}

.loadtime {
	width: 50px;
}

.btn {
	border-radius: 3px;
	background: #BA6E6E;
	padding: 10px 20px;
	border: 0px;
	color: $backgroundColor;
	@include font-size(20);

	&:hover {
		background: darken(#BA6E6E, 20)
	}
}

//
// Helpers - Before components as some components override the helpers used
//
@import "base/helpers";
